<h1 class="text-muted">Queries</h1>
<%= link_to 'Campers by Camp with Contact Info', query_campers_by_camp_path %><br/>
<%= link_to 'Campers not assigned to choice and Contact Info', camp_requests_path %><br/>
<%= link_to 'Campers not paid and Contact Info', query_campers_not_paid_path %><br/>
<%= link_to 'Campers not passed background checks and over eighteen and Contact Info', query_background_checks_path %><br/>
