<h1>New camp request</h1>

<% if @camp_requests.count > 0 %>
  <div>You have already requested a camp.</div>
<% end %>

<%= render 'form' %>

<% if current_user.is_admin? %>
    <%= link_to 'Back', camp_requests_path %>
<% else %>
    <%= link_to 'Home', root_url %>
<% end %>
