<h1>Editing covenant_form</h1>

<%= render 'form' %>



<% if current_user.is_admin? %>
	<%= link_to 'Show', @covenant_form %> |
    <%= link_to 'Back', covenant_forms_path %>
<% else %>
    <%= link_to 'Back', forms_path %>
<% end %>
