<h1 class ="text-muted">New Reference Form</h1>

<%= render 'form' %>

<% if current_user.is_admin? %>
    <%= link_to 'Back', reference_forms_path, :class => "btn btn-default col-md-3" , style:"height:40px" %>
<% else %>
    <%= link_to 'Back', forms_path, :class => "btn btn-default col-md-3", style: "height:40px"%>
<% end %>
