<h1 class ="text-muted">New Questionnaire</h1>

<%= render 'form' %>

<% if current_user.is_admin? %>
    <%= link_to 'Back', questionnaires_path %>
<% else %>
    <%= link_to 'Back', forms_path %>
<% end %>
