html,body { 
  height:100%; 
}

.top {
  border-bottom:1px solid #CCC;
  top: -3px;
  position: relative;
  background: #EEE;
}

.header {
  top:3px;
}
.header h4 {
  padding-left:10px;
}

.tab {
  position: absolute;
  top:1px;
  right: 10px;
  
}

.index {
  height:100%;
  top: -3px;
  position: relative;
}

.index-btn {
  padding-right: -1px;
}

.btn-default {
  border-right:0px;
  border-left:0px;
}

.index-head {
  text-align:center;
}

#sideBar {
  height: 100%;
  top: 0px;
  padding: 0px;
  border-right:1px solid #CCC;
}