<h1>Listing Forms</h1>

<table>
  <thead>
    <tr>
      <th>Form Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <th>Form info</th>
      </tr>
    <% end %>
  </tbody>
</table>
